__pycache__/
*.py[cod]
*$py.class
*.so
build/
develop-eggs/
dist/
.eggs/
lib/
lib64/
*.egg-info/
.installed.cfg
*.egg
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
htmlcov/
.tox/
.nox/
.pytest_cache/
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
env/
venv/
ENV/
env.bak/
venv.bak/
runs/
artifacts/
.env.local